/* unselected */
.customRadio >>> .v-radio.theme--light .theme--light.v-label, .customRadio >>> .v-radio.theme--light .theme--light.v-icon {
  color: #757575;
}

/* selected */
.customRadio >>> .v-radio.theme--light.accent--text label, .customRadio >>> .v-radio.theme--light.accent--text i {
  color: #2196F3 !important;
  caret-color: #2196F3 !important;
}

.customRadio >>> .accent--text {
  color: #2196F3 !important;
  caret-color: #2196F3 !important;
}

/* disabled */
.customRadio >>> .v-radio.v-radio--is-disabled.theme--light.accent--text  i,
.customRadio >>> .v-radio.v-radio--is-disabled.theme--light.accent--text label,
.customRadio >>> .v-radio.v-radio--is-disabled.theme--light i,
.customRadio >>> .v-radio.v-radio--is-disabled.theme--light label
{
  color: #9E9E9E !important;
}